img {
	width: 30%;
	float: left;
	margin: 1.66%;
	transition: all 1s;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin-left: 1.66%;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  padding-bottom: 20px;
} 

img:hover {
	transform: scale(1.1);
}

